// Primary
$primary-violet: hsl(263, 55%, 52%);
$primary-dark-gray-blue: hsl(217, 19%, 35%);
$primary-dark-black: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// Neutral
$neutral-gray: hsl(0, 0%, 81%);
$neutral-gray-blue: hsl(210, 46%, 95%);

// Text Colors
$white-50: hsl(0, 0%, 50%);
$white-70: hsl(0, 0%, 70%);

// Background Color
$body-bg-color: #EDF2F8;